<app-progress-bar />
<mat-sidenav-container class="h-full w-full" autosize hasBackdrop>
    <mat-sidenav #sidenav class="flex flex-col p-4" [autofocus]="false" fixedInViewPort mode="over">
        <div class="mb-8 flex justify-center">Menu</div>

        <mat-nav-list class="flex flex-col space-y-2">
            @for (link of links; track link.routerLink) {
                <a
                    mat-list-item
                    [activated]="activeUrl() === link.routerLink"
                    [routerLink]="link.routerLink"
                    (click)="sidenav.close()"
                >
                    @if (link.icon) {
                        <mat-icon matListItemIcon>
                            {{ link.icon }}
                        </mat-icon>
                    }

                    {{ link.label }}
                </a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="flex h-full flex-col">
        <app-header [links]="links" (openSidenav)="sidenav.open()" />
        <main class="container mx-auto">
            <router-outlet />
        </main>
        <footer class="p-4 text-center text-sm font-medium text-gray-400">
            Copyright &copy; Austin Lukaschewski, 2024
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
